HTTP_ADDR=:5050
HTTP_SHUTDOWN_TIMEOUT=30s
HTTP_READ_HEADER_TIMEOUT=5s
HTTP_READ_TIMEOUT=10s
HTTP_IDLE_TIMEOUT=120s

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_TIMEOUT=10s

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_DB=

NATS_URL=

GRPC_ADDR=
GRPC_TARGET=

JWT_SECRET=
ACCESS_TTL=
REFRESH_TTL=

LOGGER_LEVEL=DEBUG
